:root{
    --verde: #4BC800;
    --black: #000000;
    --light-grey: #616E7B;
    --end-grey: #4A4A4A;
    --red: #EB182A;
    --footer-grey: #222222;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--red);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.barra-top{
    display: flex;
    justify-content: end;
    width: 100%;
    padding: 0 5px;
}
.btn{
    background-color: var(--light-grey);
    border-radius: 4px;
    padding: 3px 3px;
    color: white;
    border: none;
}