:root{
    --verde: #4BC800;
    --black: #000000;
    --light-grey: #616E7B;
    --end-grey: #4A4A4A;
    --red: #EB182A;
    --footer-grey: #222222;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--red);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
img{
    display: block;
}
/* .padre{
    display: flex;
    flex-direction: column;
} */

.barra-top{
    display: flex;
    justify-content: end;
    width: 100%;
    padding: 10px 5px;
    background-color: var(--black);
}
.btn{
    background-color: var(--light-grey);
    border-radius: 4px;
    padding: 3px 3px;
    color: white;
    border: none;
}
.card{
    display: flex;
    width: 90%;
    margin: 0 auto;
    flex-grow: 1;
    flex-shrink: 0;
    flex-wrap: wrap;
}
.contenitore-img{
    position: relative;
    top: 0;
    left: 0;
    right: 0;

}
.contenitore-nome{
    background-color: var(--light-grey);
    position: absolute;
    padding: 5px 2px;
    bottom: 0;
}

/* .nav-down{
    width: 100%;
    height: 30%;
    background-color: var(--footer-grey);
} */
