:root{
    --verde: #4BC800;
    --black: #000000;
    --light-grey: #616E7B;
    --end-grey: #4A4A4A;
    --red: #EB182A;
    --footer-grey: #222222;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
img{
    width: 100%;
    display: block;
}
.genitore{
    height: 100vh;
    background-color: rosybrown;
    display: flex;
    flex-direction: column;
}

.top-nav{
    text-align: right;
    padding: 12px 5px;
    background-color: var(--black);
    flex-shrink: 0;
}

.btn{
    background-color: var(--light-grey);
    border-radius: 4px;
    padding: 3px 3px;
    color: white;
    border: none;
}

.main-container{
    flex-grow: 1;
    overflow: auto;
}
.card-container{
    padding: 1rem;
    max-width: 920px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.card{
    position: relative;
    width: 100%;
    height: calc(100% / 5);
    flex-basis: calc(100% / 7);
    border: 2px solid black;
}

.contenitore-nome{
    background-color: var(--light-grey);
    position: absolute;
    padding: 5px 2px;
    bottom: 0;
    left: 0;
    filter: opacity(0.5);
    font-size: .5rem;
}

.bottom-nav{
    background-color: var(--footer-grey);
    flex-shrink: 0;
}
.sotto-container{
    border: 0;
    background-color: transparent;
    color: white;
    padding: 0;
    line-height: 4rem;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    /* font-size: large; */
}

